extends ./admin

block main
  table(lay-data="{ width: 892,url:'/user/comments/', page:{theme:'#009688'}, id:'idTest'}", lay-filter="demo").layui-table
    thead
      tr
        th(lay-data="{field:'article', align:'center', templet: function (res){\
                                                                                var title = res.article ? res.article.title : '站点留言';\
                                                                                return title;}}") 被评文章
        th(lay-data="{field:'from', align:'center', templet: function (res){\
                                                                                var title = res.from ? res.from.username : '用户不存在或已删除';\
                                                                                return title;}}") 评论者
        th(lay-data="{field:'content', align:'center'}") 评论内容
        th(lay-data="{field:'created', align:'center', templet: res => (new Date(res.created)).toLocaleString()}") 评论时间
        th(lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}") 操作
  script(type="text/html")#barDemo
    a(lay-event="del").layui-btn.layui-btn-danger.layui-btn-xs 删除
  script(src="/js/comment.js")