extends ./admin

block main
  table(lay-data="{width: 892, url:'/dataapi/get',  page:{theme:'#f90'},id:'idTest'}", lay-filter="demo").layui-table
    thead
      tr
        th(lay-data="{field:'id', align:'center',templet: function (res){\
                                                                                var id = res.id ? res.id : null;\
                                                                                return id;}}") id
        th(lay-data="{field:'title', align:'center'}") 文章
        th(lay-data="{field:'tips', align:'center'}") 分类
        th(lay-data="{field:'created', align:'center', templet: res => (new Date(res.created)).toLocaleString()}") 创建时间
        th(lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}") 操作
  script(type="text/html")#barDemo
    a(lay-event="del").layui-btn.layui-btn-danger.layui-btn-xs 删除
  script.
    layui.use(['table', 'layer'], function(){
      const table = layui.table
      const layer = layui.layer
      const $ = layui.$
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          let cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }

      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      // Setting the token on the AJAX request
      $.ajaxSetup({
          beforeSend: function (xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                //console.log( getCookie('csrf'))
                xhr.setRequestHeader("X-Csrf-Token", getCookie('csrf'));
                // xhr.setRequestHeader("X-Xsrf-Token", getCookie('csrf'));
              }
          }
      });
      table.on("tool(demo)", (obj) => {
        const data = obj.data
        const _id = data._id
        //console.log(data)
        if(obj.event !== "del") return

        layer.confirm("确认删除？", () => {
          $.ajax({
            method: "delete",
            url: "/dataapi/del/" + _id,
            data: {
              _id
            },
            success(res){
              if(res.state){
                layer.msg(res.message, {
                  anim: 1,
                  time: 800
                }, () => location.reload())
              }else{
                console.error(res.message)
              }
            }
          })
        })
      })
    });