extends ./admin

block main
  div 头像上传
    button(type="button")#upload.layui-btn.layui-btn-danger
      i.layui-icon
      |上传图片
    .layui-inline.layui-word-aux
      |这里以限制 60KB 为例

  script(src="/js/userface.js")
