<!DOCTYPE html>
<html>
  <head>
    <title>青丝梦思维-前端开发|关注互联网上的那些事</title>
    <meta charset="utf-8" />
    <meta name="author" content="dawang" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/bg/icon.cur">
    <link rel="stylesheet" href="/layui/css/layui.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/showimg.css" />
    <script src="/layui/layui.js"></script>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格--><!-- [if lt IE 9]--><!-- <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>-->
    <!-- <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>--><!-- [endif]          -->
    <div class="blog-header">
      <div class="layui-container">
        <div class="layui-row">
          <div class="layui-col-xs3">
            <h1 class="grid-demo" style="display:inline-block;vertical-align:middle;">
              <span>青 &nbsp;</span>
              <span>丝 &nbsp;</span>
              <span>梦 &nbsp;</span>
              <span>思 &nbsp;</span>
              <span>维 &nbsp;</span>
            </h1>
            <div class="grid-demo" style="display:inline-block;height:34px;border-right:1px solid #aaa;vertical-align:middle;">
              &nbsp;
            </div>
            <div class="grid-demo" style="display:inline-block;margin-left:20px;color:#666;font-size:14px;vertical-align:middle;">
              <p>大王博客</p>
              <p>专注前端开发</p>
            </div>
          </div>
          <div class="layui-col-xs7">
            <ul class="grid-demo layui-nav" id="head-nav">
              <li class="layui-nav-item">
                <a href="/"><i class="layui-icon layui-icon-home"></i>首页</a>
              </li>
              <li class="layui-nav-item">
                <a href="/article">web开发</a>
                <dl class="layui-nav-child">
                  <dd><a href="/index/type">前端开发</a></dd>
                  <dd><a href="/index/type">后端开发</a></dd>
                  <dd><a href="/index/type">推荐工具</a></dd>
                </dl>
              </li>
              <li class="layui-nav-item"><a href="/diary">博客日记 </a></li>
              <li class="layui-nav-item">
                <a href="/workscase">作品案例</a>
                <dl class="layui-nav-child">
                  <dd><a href="/works/tmall.html" target="_blank">仿静态天猫官网</a></dd>
                  <dd><a href="/works/calc.html" target="_blank">简易计算器</a></dd>
                  <dd><a href="/works/3dpicshow.html" target="_blank">3D展示</a></dd>
                  <dd><a href="" target="_blank">网页小游戏</a></dd>
                  <dd><a href="" target="_blank">休闲</a></dd>
                  <dd><a href="" target="_blank">数据分析</a></dd>
                  <dd><a href="" target="_blank">拓展</a></dd>
                </dl>
              </li>
              <li class="layui-nav-item"><a href="/find">寻觅足迹 </a></li>
              <li class="layui-nav-item"><a href="/about">关于博客 </a></li>
              <li class="layui-nav-item"><a href="/dynamic">时间线 </a></li>
            </ul>
          </div>
          <div class="layui-col-xs2" style="line-height:60px;">
            <div class="grid-demo" style="font-size:14px;">
              <a href="javascript:;" class="user">
                <img class="avatar" src="" alt="" width="40" title="游客">
                <span class="small ellipsis">游客</span>
              </a>
              <span class="time-frame" style="color: rgb(255, 45, 85);">晚上好！</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="slide">
      <ul>
        <li><a href="/user">我要登录</a></li>
        <li><a href="/user">我要注册</a></li>
      </ul>
      <div class="find"></div>
      <button id="btnfold" title="点击展开登录注册"><span></span></button>
    </div>
    <div id="search-box">
      <div class="search">
        <form action="" name="searchform" id="searchform">
          <input
            class="inputtext"
            type="text"
            placeholder="请输入关键字"
            name="searchinput"
          /><input class="iptsubmit" type="submit" value="搜 索" />
        </form>
      </div>
      <div class="searchclose"></div>
    </div>
    <div id="music">
      <i class="layui-icon layui-icon-play"></i>
      <audio src="/media/mp3/1.mp3" loop>您的浏览器不支持html5的audio标签</audio>
    </div>
    <div class="layui-container" id="blog-content">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-md9" id="main-con">
          <div class="grid-demo" style="overflow:hidden;" id="banner-img">
            <div class="showimg-left">
              <div class="grid-demo layui-carousel" id="test01">
                <ul carousel-item="">
                  <!--  -->
                </ul>
              </div>
            </div>
            <div class="showimg-text">
              <!-- <div>
                <a href="" title="为什么说10月24日是程序员节？">
                  <img src="/img/h1.jpg" alt="为什么说10月24日是程序员节？">
                  <span>为什么说10月24日是程序员节？</span>
                </a>
              </div>
              <div>
                <a href="" title="为什么说10月24日是程序员节？">
                  <img src="/img/h2.jpg" alt="为什么说10月24日是程序员节？">
                  <span>为什么说10月24日是程序员节？</span>
                </a>
              </div> -->
            </div>
          </div>
          <div class="grid-demo layui-tab layui-tab-brief" lay-filter="docDemoTabBrief;">
            <ul class="layui-tab-title">
              <li class="layui-this">web前端</li>
              <li>路由</li>
              <li>JavaScript</li>
              <li>Vue</li>
              <li>css</li>
            </ul>
            <ul class="layui-tab-content" style="height:260px;" id="tab-content">
              <li class="layui-tab-item layui-show">
                <div class="layui-row">
                  <div class="layui-col-md4 layui-col-xs12 layui-col-sm12">
                    <div class="grid-demo showimg-text">
                      
                    </div>
                  </div>
                  <div class="layui-col-md8 layui-col-xs12 layui-col-sm12">
                    <div class="grid-demo layui-collapse tab-hide" lay-accordion="">
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          layui 更适合哪些开发者？
                          <i class="layui-icon layui-colla-icon"></i>
                        </h2>
                        <div class="layui-colla-content layui-show">
                          <p>
                            在前端技术快速变革的今天，layui
                            仍然坚持语义化的组织模式，甚至于模块理念都是采用类AMD组织形式，并非是有意与时代背道而驰。layui
                            认为以jQuery为核心的开发方式还没有到完全消亡的时候，而早期市面上基于jQuery的UI都普通做得差强人意，所以需要有一个新的UI去重新为这一领域注入活力，并采用一些更科学的架构方式。因此准确地说，layui
                            更多是面向那些追求开发简单的前端工程师们，以及所有层次的服务端程序员。
                          </p>
                        </div>
                      </div>
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          为什么JS社区大量采用未发布或者未广泛支持的语言特性？
                          <i class="layui-icon layui-colla-icon"></i>
                        </h2>
                        <div class="layui-colla-content">
                          <p>
                            JS当初是被作为脚本语言设计的，所以某些问题并不是JS设计得差或者是JS设计者的失误。比如var的作用域问题，并不是“错误”，而是当时绝大部分脚本语言都是这样的，如perl/php/sh等。模块的问题也是，脚本语言几乎都没有模块/命名空间功能。弱类型、for-in之类的问题也是，只不过现在用那些老的脚本语言的人比较少，所以很多人都误以为是JS才有的坑。另外有人说JS是半残语言，满足不了开发需求，1999年就该死。半残这个嘛，就夸张了。JS虽然有很多问题，但是设计总体还是优秀的。——来自知乎@贺师俊
                          </p>
                        </div>
                      </div>
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          为什么前端工程师多不愿意用 Bootstrap 框架？
                          <i class="layui-icon layui-colla-icon"></i>
                        </h2>
                        <div class="layui-colla-content">
                          <p>
                            因为不适合。如果希望开发长期的项目或者制作产品类网站，那么就需要实现特定的设计，为了在维护项目中可以方便地按设计师要求快速修改样式，肯定会逐步编写出各种业务组件、工具类，相当于为项目自行开发一套框架。——来自知乎@Kayo
                          </p>
                        </div>
                      </div>
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          说说MVC？
                          <i class="layui-icon layui-colla-icon"></i>
                        </h2>
                        <div class="layui-colla-content">
                          <p>
                            MVC全名是Model View
                            。是Controller模型(model)－视图(view)－控制器(controller)的缩写。MVC是比较直观的架构模式，用户操作-&gt;View（负责接收用户的输入操作）-&gt;Controller（业务逻辑处理）-&gt;Model（数据持久化）-&gt;View（将结果反馈给View）。
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="layui-tab-item">
                <div class="layui-row">
                  <div class="layui-col-md4">
                    <div class="grid-demo showimg-text">
                      
                    </div>
                  </div>
                  <div class="layui-col-md8">
                    <div
                      class="grid-demo layui-collapse tab-hide"
                      lay-accordion=""
                    >
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          说说MVVM？<i class="layui-icon layui-colla-icon"></i>
                        </h2>
                        <div class="layui-colla-content layui-show">
                          <p>
                            MVVM是Model-View-ViewModel的简写，MVVM是将“数据模型数据双向绑定”的思想作为核心，因此在View和Model之间没有联系，通过ViewModel进行交互，而且Model和ViewModel之间的交互是双向的，因此视图的数据的变化会同时修改数据源，而数据源数据的变化也会立即反应view。
                          </p>
                        </div>
                      </div>
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          什么是"前端路由?<i class="layui-icon layui-colla-icon"
                            ></i
                          >
                        </h2>
                        <div class="layui-colla-content">
                          <p>
                            路由是根据不同的 url
                            地址展示不同的内容或页面。前端路由就是把不同路由对应不同的内容或页面的任务交给前端来做，之前是通过服务端根据
                            url 的不同返回不同的页面实现的。
                          </p>
                        </div>
                      </div>
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          什么时候适合使用"前端路由?<i
                            class="layui-icon layui-colla-icon"
                            ></i
                          >
                        </h2>
                        <div class="layui-colla-content">
                          <p>
                            在单页面应用，大部分页面结构不变，只改变部分内容的使用。
                          </p>
                        </div>
                      </div>
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          "前端路由"有哪些优点和缺点?<i
                            class="layui-icon layui-colla-icon"
                            ></i
                          >
                        </h2>
                        <div class="layui-colla-content">
                          <p>
                            优点：用户体验好，不需要每次都从服务器全部获取，快速展现给用户。缺点：使用浏览器的前进，后退键的时候会重新发送请求，没有合理地利用缓存。单页面无法记住之前滚动的位置，无法在前进，后退的时候记住滚动的位置。
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="layui-tab-item">
                <div class="layui-row">
                  <div class="layui-col-md4">
                    <div class="grid-demo showimg-text">
                      
                    </div>
                  </div>
                  <div class="layui-col-md8">
                    <div
                      class="grid-demo layui-collapse tab-hide"
                      lay-accordion=""
                    >
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          JQuery的实现原理？<i
                            class="layui-icon layui-colla-icon"
                            ></i
                          >
                        </h2>
                        <div class="layui-colla-content layui-show">
                          <p>
                            jQuery源码封装在一个匿名函数的自执行环境中，有助于防止变量的全局污染，然后通过传入window对象参数，可以使window对象作为局部变量使用，好处是当jquery中访问window对象的时候，就不用将作用域链退回到顶层作用域了，从而可以更快的访问window对象。同样，传入undefined参数，可以缩短查找undefined时的作用域链。
                          </p>
                        </div>
                      </div>
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          谈一下Jquery中的bind()？<i
                            class="layui-icon layui-colla-icon"
                            ></i
                          >
                        </h2>
                        <div class="layui-colla-content">
                          <p>
                            (1)、bind 【jQuery
                            1.3之前】主要用于给选择到的元素上绑定特定事件类型的监听函数；bind(type,[data],function(eventObject))；特点：(1)、适用于页面元素静态绑定。只能给调用它的时候已经存在的元素绑定事件，不能给未来新增的元素绑定事件。(2)、当页面加载完的时候，你才可以进行bind()，所以可能产生效率问题。
                          </p>
                        </div>
                      </div>
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          谈一下Jquery中的live()？<i
                            class="layui-icon layui-colla-icon"
                            ></i
                          >
                        </h2>
                        <div class="layui-colla-content">
                          <p>
                            (2)、live 【jQuery
                            1.3之后】主要用于给选择到的元素上绑定特定事件类型的监听函数；live(type,
                            [data],
                            fn);(1)、live方法并没有将监听器绑定到自己(this)身上，而是绑定到了this.context上了。(2)、live正是利用了事件委托机制来完成事件的监听处理，把节点的处理委托给了document，新添加的元素不必再绑定一次监听器。(3)、使用live（）方法但却只能放在直接选择的元素后面，不能在层级比较深，连缀的DOM遍历方法后面使用，即$(“ul”").live...可以，但$("body").find("ul").live...不行；
                          </p>
                        </div>
                      </div>
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          谈一下Jquery中的delegate()？<i
                            class="layui-icon layui-colla-icon"
                            ></i
                          >
                        </h2>
                        <div class="layui-colla-content">
                          <p>
                            将监听事件绑定在就近的父级元素上，delegate(selector,type,[data],fn)
                            (1)、选择就近的父级元素，因为事件可以更快的冒泡上去，能够在第一时间进行处理。(2)、更精确的小范围使用事件代理，性能优于.live()。可以用在动态添加的元素上。
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="layui-tab-item">
                <div class="layui-row">
                  <div class="layui-col-md4">
                    <div class="grid-demo showimg-text">
                      
                    </div>
                  </div>
                  <div class="layui-col-md8">
                    <div
                      class="grid-demo layui-collapse tab-hide"
                      lay-accordion=""
                    >
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          页面性能优化办法有哪些？<i
                            class="layui-icon layui-colla-icon"
                            ></i
                          >
                        </h2>
                        <div class="layui-colla-content layui-show">
                          <p>
                            一、资源压缩与合并：主要包括这些方面：html压缩、css
                            压缩、js的压缩和混乱和文件合并。二、非核心代码异步加载异步加载的方式。三、利用浏览器缓存。四、使用CDN。五、预解析DNS。
                          </p>
                        </div>
                      </div>
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          事件流？<i class="layui-icon layui-colla-icon"></i>
                        </h2>
                        <div class="layui-colla-content">
                          <p>
                            事件流分为两种，捕获事件流和冒泡事件流。捕获事件流从根节点开始执行，一直往子节点查找执行，直到查找执行到目标节点。冒泡事件流从目标节点开始执行，一直往父节点冒泡查找执行，直到查到到根节点。事件流分为三个阶段，一个是捕获节点，一个是处于目标节点阶段，一个是冒泡阶段。
                          </p>
                        </div>
                      </div>
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          react 的虚拟dom是怎么实现的？<i
                            class="layui-icon layui-colla-icon"
                            ></i
                          >
                        </h2>
                        <div class="layui-colla-content">
                          <p>
                            首先说说为什么要使用Virturl
                            DOM，因为操作真实DOM的耗费的性能代价太高，所以react内部使用js实现了一套dom结构，在每次操作在和真实dom之前，使用实现好的diff算法，对虚拟dom进行比较，递归找出有变化的dom节点，然后对其进行更新操作。为了实现虚拟DOM，我们需要把每一种节点类型抽象成对象，每一种节点类型有自己的属性，也就是prop，每次进行diff的时候，react会先比较该节点类型，假如节点类型不一样，那么react会直接删除该节点，然后直接创建新的节点插入到其中，假如节点类型一样，那么会比较prop是否有更新，假如有prop不一样，那么react会判定该节点有更新，那么重渲染该节点，然后在对其子节点进行比较，一层一层往下，直到没有子节点。
                          </p>
                        </div>
                      </div>
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          react
                          的渲染过程中，兄弟节点之间是怎么处理的？也就是key值不一样的时候。？<i
                            class="layui-icon layui-colla-icon"
                            ></i
                          >
                        </h2>
                        <div class="layui-colla-content">
                          <p>
                            通常我们输出节点的时候都是map一个数组然后返回一个ReactNode，为了方便react内部进行优化，我们必须给每一个reactNode添加key，这个key
                            prop在设计值处不是给开发者用的，而是给react用的，大概的作用就是给每一个reactNode添加一个身份标识，方便react进行识别，在重渲染过程中，如果key一样，若组件属性有所变化，则react只更新组件对应的属性；没有变化则不更新，如果key不一样，则react先销毁该组件，然后重新创建该组件。
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="layui-tab-item">
                <div class="layui-row">
                  <div class="layui-col-md4">
                    <div class="grid-demo showimg-text">
                      
                    </div>
                  </div>
                  <div class="layui-col-md8">
                    <div
                      class="grid-demo layui-collapse tab-hide"
                      lay-accordion=""
                    >
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          CSS 样式书写规范？<i
                            class="layui-icon layui-colla-icon"
                            ></i
                          >
                        </h2>
                        <div class="layui-colla-content layui-show">
                          <p>
                            可能不同团队都有各自的规范，又或者很多人在写 CSS
                            的时候还是想到什么就写什么，不存在太多的约束。
                          </p>
                        </div>
                      </div>
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          命名空间规范？<i class="layui-icon layui-colla-icon"
                            ></i
                          >
                        </h2>
                        <div class="layui-colla-content">
                          <p>
                            1、布局：以 g 为命名空间，例如：.g-wrap
                            、.g-header、.g-content。2、状态：以 s
                            为命名空间，表示动态的、具有交互性质的状态，例如：.s-current、s-selected。3、工具：以
                            u
                            为命名空间，表示不耦合业务逻辑的、可复用的的工具，例如：u-clearfix、u-ellipsis。
                          </p>
                        </div>
                      </div>
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          命名空间思想？<i class="layui-icon layui-colla-icon"
                            ></i
                          >
                        </h2>
                        <div class="layui-colla-content">
                          <p>
                            没有选择 BEM
                            这种命名过于严苛及样式名过长过丑的规则，采取了一种比较折中的方案。不建议使用下划线
                            _ 进行连接。1.节省操作，输入的时候少按一个 shift 键
                            2.能良好区分 JavaScript 变量命名
                          </p>
                        </div>
                      </div>
                      <div class="layui-colla-item">
                        <h2 class="layui-colla-title">
                          SASS 使用建议<i class="layui-icon layui-colla-icon"
                            ></i
                          >
                        </h2>
                        <div class="layui-colla-content">
                          <p>
                            1、嵌套层级规定2、组件/公用类的使用方法3、尽量避免使用标签名
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="grid-demo" id="blog-recommend">
            <h2 class="clear">
              <div>
                <span class="layui-breadcrumb" lay-separator="/" style="visibility: visible;">
                  <a href="/">首页</a>
                  <span lay-separator="">/</span>
                  <a href="/diary">文章</a>
                  <span lay-separator="">/</span>
                  <a href="/article">web开发</a>
                  <span lay-separator="">/</span>
                  <a href="/article">python</a></span>
              </div>
            </h2>
            <fieldset class="layui-elem-field">
              <legend class="bottom-line">特别推荐</legend>
              <ul class="layui-field-box layui-row" id="love-list">              
              </ul>
            </fieldset>
          </div>
          <div class="grid-demo layui-row" id="blog-img">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
              <a href="" target="_blank"><img src="/img/bg/5.jpg" alt=""/></a>
            </div>
          </div>
          <div class="grid-demo">
            <!-- <h3 class="new-list">最新博文</h3> -->
            <ul class="article-list">
            </ul>
          </div>
          <div id="demo7" style="text-align:center;"></div>
        </div>
        <div class="layui-col-md3">
          <div class="layui-card grid-demo">
            <div class="layui-card-header">网站公告:</div>
            <div class="layui-card-body" id="notice">
              
            </div>
          </div>
          <div class="layui-card grid-demo">
            <h2 class="layui-card-header">
              <span
                style="padding:6px 4px;background:#1890ff;color:#fff;border-radius:4px;"
                >博客简介</span
              >
            </h2>
            <div class="layui-card-body" id="intro">
              
            </div>
          </div>
          <div class="grid-demo" style="margin-bottom:20px;text-align:center;">
            <h3 style="width:100%;height:10px;margin-bottom:2px;background:#fff;"></h3>
            <div class="site-demo-laydate">
              <div class="layui-inline" id="test-n1">

              </div>
            </div>
          </div>
          <div class="layui-card grid-demo">
            <h2 class="layui-card-header">
              <i class="layui-icon layui-icon-release" title="更新">&nbsp;</i>
              最近更新
            </h2>
            <div class="layui-card-body">
              <ul class="right-new-list">
              </ul>
            </div>
          </div>
          <div class="grid-demo layui-card">
            <h2 class="layui-card-header">
              <i class="layui-icon layui-icon-spread-left" title="排行">&nbsp;</i>
              热度排行
            </h2>
            <div class="layui-card-body" id="hot-list">
              <div class="rank-list">
               
              </div>
              <ul class="right-hot-list">
                
              </ul>
            </div>
          </div>
          <div class="grid-demo layui-card" id="blog-message">
            <h2 class="layui-card-header">
              <i class="layui-icon layui-icon-dialogue" title="评论">&nbsp;</i>
              精彩评论
            </h2>
            <div class="layui-card-body">
              <ul class="right-comment-list">
                
              </ul>
            </div>
          </div>
          <div class="grid-demo layui-card">
            <h2 class="layui-card-header">
              <i class="layui-icon layui-icon-loading" title="随机">&nbsp;</i
              >随机文章
            </h2>
            <div class="layui-card-body" id="random-list">
              <div class="rank-list">
                
              </div>
              <ul class="right-hot-list">
               
              </ul>
            </div>
          </div>
          <div class="grid-demo layui-card" id="blog-message">
            <h2 class="layui-card-header">
              <i class="layui-icon layui-icon-chart-screen" title="信息">&nbsp;</i> 站点信息
            </h2>
            <div class="layui-card-body" id="web-info">
              <ul>
                
              </ul>
            </div>
          </div>
          <div class="grid-demo layui-card" id="blog-tags">
            <h2 class="layui-card-header">
              <i class="layui-icon layui-icon-note" title="信息">&nbsp;</i> 标签云
            </h2>
            <div class="layui-card-body" id="web-tags">

            </div>
          </div>
          <div class="layui-card grid-demo">
            <h2 class="layui-card-header">
              <i class="layui-icon layui-icon-link" title="链接">&nbsp;</i
              >友情链接
            </h2>
            <div class="layui-card-body">
              <p>
                <span class="layui-badge-dot layui-bg-cyan"> </span>
                <a href="https://www.qdskill.com/nav" title="web前端导航" target="_blank">web前端导航</a>
              </p>
              <p>
                <span class="layui-badge-dot layui-bg-cyan"> </span>
                <a href="https://www.liaoxuefeng.com/" title="廖雪峰的官方网站" target="_blank">廖雪峰的官方网站</a>
              </p>
              <p>
                <span class="layui-badge-dot layui-bg-cyan"> </span>
                <a href="https://www.zhangxinxu.com/" title="张鑫旭的个人博客" target="_blank">张鑫旭的个人博客</a>
              </p>
              <p>
                <span class="layui-badge-dot layui-bg-cyan"> </span>
                <a href="https://juejin.im/post/5befeb5051882511a8527dbe" title="掘金" target="_blank">一年半经验，百度、有赞、阿里面试总结</a>
              </p>
              <p>
                <span class="layui-badge-dot layui-bg-cyan"> </span>
                <a href="https://jspang.com/archives/" title="技术胖" target="_blank">技术胖</a>
              </p>
              <p>
                <span class="layui-badge-dot layui-bg-cyan"> </span>
                <a href="https://www.5xiaobo.com" title="个人博客" target="_blank">吴晓波个人博客</a>
              </p>
              <p>
                <span class="layui-badge-dot layui-bg-cyan"> </span>
                <a href="http://www.runoob.com/w3cnote/front-end-developer-questions-and-answers.html" title="前端开发面试题" target="_blank">前端开发面试题</a>
              </p>
              <p>
                <span class="layui-badge-dot layui-bg-cyan"> </span>
                <a href="https://stackoverflow.com/" title="stackoverflow" target="_blank">stackoverflow官网</a>
              </p>
              <p>
                <span class="layui-badge-dot layui-bg-cyan"> </span>
                <a href="https://juejin.im/post/5b44a485e51d4519945fb6b7" title="前端面试的面试经验" target="_blank">前端面试的面试经验</a>
              </p>
              <p>
                <span class="layui-badge-dot layui-bg-cyan"> </span>
                <a href="https://www.jianshu.com/u/948da055a416" title="简书王南北" target="_blank">简书王南北</a>
              </p>
              <p>
                <span class="layui-badge-dot layui-bg-cyan"> </span>
                <a href="https://www.qdskill.com/" title="web前端技能" target="_blank">web前端技能</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="top-box" style="display: none; opacity: 0;">
      <i class="layui-icon layui-icon-top"></i>
    </div>
    <div class="layui-container layui-bg-black" id="blog-footer">
      <div class="layui-row">
        <div class="div">
          <div class="grid-demo" style="text-align:center;">
            <p>
              注：本站为个人博客，由本人设计编写，个人使用，未经许可不得用于任何商业用途。版权所有
            </p>
            <p>
              2018 Copyright © &nbsp;
              <a class="hov" href="http://www.dawang.xin" target="_blank">www.dawang.xin &nbsp;</a>
              <span>All Rights Reserved &nbsp;</span>
              <a class="hov" href="http://www.miitbeian.gov.cn" target="_blank">蒙ICP备18005902号-1</a>
            </p>
            <div>
              <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=15070202000117" style="display:inline-block;height:20px;line-height:20px;text-decoration:none;vertical-align:middle;">
                <img src="/img/bg/beian.png" style="float:left;" />
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                  蒙公网安备 15070202000117号
                </p>
              </a>
              <span style="display:inline-block;margin:0 20px;height:20px;line-height:20px;vertical-align:middle;">
                电子邮箱：
                <a class="hov" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;amp&amp;email=478572517@qq.com" target="_blank">478572517@qq.com</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/home.js"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script src="/js/nav.js"></script>
  </body>
</html>
