<!DOCTYPE html>
<html>
  <head>
    <title>关注前端开发-文章详情页|青丝梦思维博客</title>
    <meta charset="utf-8" />
    <meta name="author" content="dawang" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/bg/icon.cur" />
    <link rel="stylesheet" href="/layui/css/layui.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/showimg.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/article.css" />
    <script src="/layui/layui.js"></script>
  </head>
  <body>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格--><!-- [if lt IE 9]--><!-- <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>--><!-- <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>--><!-- [endif]          -->
    <div class="blog-header">
      <div class="layui-container">
        <div class="layui-row">
          <div class="layui-col-xs3">
            <h1 class="grid-demo">
              <span>青 &nbsp;</span>
              <span>丝 &nbsp;</span>
              <span>梦 &nbsp;</span>
              <span>思 &nbsp;</span>
              <span>维 &nbsp;</span>
            </h1>
            <div class="grid-demo space">
              &nbsp;
            </div>
            <div class="grid-demo p">
              <p>大王博客</p>
              <p>www.dawang.xin</p>
            </div>
          </div>
          <div class="layui-col-xs7">
            <ul class="grid-demo layui-nav" id="head-nav">
              <li class="layui-nav-item">
                <a href="/"><i class="layui-icon layui-icon-home"></i>首页</a>
              </li>
              <li class="layui-nav-item">
                <a href="/article">web开发</a>
                <dl class="layui-nav-child">
                  <dd><a href="/index/type">前端开发</a></dd>
                  <dd><a href="/index/type">后端开发</a></dd>
                  <dd><a href="/index/type">推荐工具</a></dd>
                </dl>
              </li>
              <li class="layui-nav-item"><a href="/diary">博客日记 </a></li>
              <li class="layui-nav-item">
                <a href="/workscase">作品案例</a>
                <dl class="layui-nav-child">
                  <dd><a href="/works/tmall.html" target="_blank">仿静态天猫官网</a></dd>
                  <dd><a href="/works/calc.html" target="_blank">简易计算器</a></dd>
                  <dd><a href="/works/3dpicshow.html" target="_blank">3D展示</a></dd>
                  <dd><a href="/works/mogujie" target="_blank">蘑菇街实战</a></dd>
                  <dd><a href="/myapp/index.html" target="_blank">vue-myapp</a></dd>
                  <dd><a href="/echarts/react-router/" target="_blank">react-router|echarts</a></dd>
                  <dd><a href="/luckydial/luckydial.html" target="_blank">幸运转盘</a></dd>
                </dl>
              </li>
              <li class="layui-nav-item"><a href="/find">寻觅足迹 </a></li>
              <li class="layui-nav-item"><a href="/about">关于博客 </a></li>
              <li class="layui-nav-item"><a href="/dynamic">时间线 </a></li>
            </ul>
          </div>
          <div class="layui-col-xs2">
            <div class="grid-demo">
              <a href="javascript:;" class="user">
                <img class="avatar" src="" alt="" width="40" title="游客">
                <span class="small ellipsis">游客</span>
              </a>
              <span class="time-frame" style="color: rgb(255, 45, 85);">晚上好！</span>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div id="slide">
        <ul>
          <li><a href="/user">我要登录</a></li>
          <li><a href="/user">我要注册</a></li>
        </ul>
        <div class="find"></div>
        <button id="btnfold" title="点击展开登录注册"><span></span></button>
      </div>
      <div id="search-box">
        <div class="search">
          <form action="" name="searchform" id="searchform">
            <input
              class="inputtext"
              type="text"
              placeholder="请输入关键字"
              name="searchinput"
            /><input class="iptsubmit" type="submit" value="搜 索" />
          </form>
        </div>
        <div class="searchclose"></div>
      </div>
    <div class="blog-panel">
      <div class="layui-container">
        <ul class="layui-clear">
          <li><a href="/article">HTML</a></li>
          <li><a href="/article">CSS</a></li>
          <li><a href="/article">JavaScript</a></li>
          <li><a href="/article">Nodejs</a></li>
          <li><a href="/article">Vue</a></li>
          <li><a href="/article">React</a></li>
          <li><a href="/article">Angular</a></li>
          <li><a href="/article">Django</a></li>
          <li><a href="/article">Spider</a></li>
          <li><a href="/article">Diary</a></li>
        </ul>
        <div class="blog-column-right publish" style="display: none;">
          <a class="layui-btn" href="/article/add">发表文章</a>
        </div>
      </div>
    </div>
    <div class="layui-container" id="blog-content">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-md9" id="main-con">
          <div class="grid-demo">
                <div class="content default-box layui-text">
                                           
                </div>
                <div class="layui-upload imgupload" style="display: none">文章标题图片上传
                  <button class="layui-btn layui-btn-danger" type="button" data-articleid="" id="uploadimg">
                      <i class="layui-icon"></i>上传图片</button>
                      <input class="layui-upload-file" type="file" accept="undefined" name="file">
                  <div class="layui-inline layui-word-aux">这里以限制 60KB 为例</div>
                  <div class="layui-upload-list">
                      <img class="layui-upload-img" id="demo1">
                      <p id="demoText"></p>
                  </div>
                </div>
                <div class="related-art">
                        <h3 class="new-list">相关文章</h3>
                        <hr>
                        <ul>
                            <!--  -->
                        </ul>
                </div>
                <div class="comment default-box">
                        <h3>文章评论</h3>
                        <div class="login">
                            <a href="/user/login">登录</a>
                        </div><div class="txt">
                            <textarea id="comment-txt" class="layui-hide"></textarea>
                            <div class="layui-layedit">
                                <div class="layui-unselect layui-layedit-tool">
                                    <i class="layui-icon layedit-tool-face" title="表情" layedit-event="face" "=""></i>
                                    <i class="layui-icon layedit-tool-link" title="插入链接" layedit-event="link" "=""></i>
                                </div>
                                <div class="layui-layedit-iframe">
                                    <iframe id="LAY_layedit_2" name="LAY_layedit_2" textarea="comment-txt" frameborder="0" style="height: 120px;"></iframe>
                                </div>
                            </div>
                            <button class="layui-btn">发表评论</button>
                        </div>
                        <hr class="comment-line">
                        <p id="comment-num">
                            <span>这里有</span><span class="num">0</span>条评论
                        </p>
                        <ul class="comment-list">
            
                        </ul>
                </div>  
            </div>
        </div>
        <div class="layui-col-md3">
          <div class="layui-card grid-demo intro">
            <h2 class="layui-card-header">
              <span >博客简介</span>
            </h2>
            <div class="layui-card-body">
              <p>
                这是一个绚丽多彩的时代，而你我正是这多彩世界的终极体验官。欢迎来到大王博客：dawang.xin
                ,专注于前端开发、关注用户体验、分享个人经验，与喜欢提高视觉体验的朋友进行交流学习,希望做出更好的博客，期待您的参与！<a
                  class="underline"
                  href="/about"
                  target="_blank"
                  >了解更多。。。</a
                >
              </p>
            </div>
          </div>
          <div class="grid-demo  date">
            <h3></h3>
            <div class="site-demo-laydate">
              <div class="layui-inline" id="test-n1">
                
              </div>
            </div>
          </div>
          <div class="layui-card grid-demo">
              <h2 class="layui-card-header">
                <i class="layui-icon layui-icon-release" title="更新">&nbsp;</i>
                最近更新
              </h2>
              <div class="layui-card-body">
                <ul class="right-new-list">
                </ul>
              </div>
          </div>
          <div class="grid-demo layui-card">
              <h2 class="layui-card-header">
                <i class="layui-icon layui-icon-spread-left" title="排行">&nbsp;</i>
                热度排行
              </h2>
              <div class="layui-card-body" id="hot-list">
                <div class="rank-list">
                 
                </div>
                <ul class="right-hot-list">
                  
                </ul>
              </div>
            </div>
          <div class="grid-demo layui-card" id="blog-message">
              <h2 class="layui-card-header">
                <i class="layui-icon layui-icon-dialogue" title="评论">&nbsp;</i>
                精彩评论
              </h2>
              <div class="layui-card-body">
                <ul class="right-comment-list">
                  
                </ul>
              </div>
          </div>
          <div class="grid-demo layui-card">
              <h2 class="layui-card-header">
                <i class="layui-icon layui-icon-loading" title="随机">&nbsp;</i
                >随机文章
              </h2>
              <div class="layui-card-body" id="random-list">
                <div class="rank-list">
                  
                </div>
                <ul class="right-hot-list">
                 
                </ul>
              </div>
          </div>
          <div class="grid-demo layui-card" id="blog-message">
              <h2 class="layui-card-header">
                <i class="layui-icon layui-icon-chart-screen" title="信息">&nbsp;</i> 站点信息
              </h2>
              <div class="layui-card-body" id="web-info">
                <ul>
                  
                </ul>
              </div>
          </div>
          <div class="grid-demo layui-card" id="blog-tags">
              <h2 class="layui-card-header">
                <i class="layui-icon layui-icon-note" title="信息">&nbsp;</i> 标签云
              </h2>
              <div class="layui-card-body" id="web-tags">
  
              </div>
          </div>
          <div class="layui-card grid-demo">
              <h2 class="layui-card-header">
                <i class="layui-icon layui-icon-link" title="链接">&nbsp;</i
                >友情链接
              </h2>
              <div class="layui-card-body">
                <p>
                  <span class="layui-badge-dot layui-bg-cyan"> </span>
                  <a
                    href="https://juejin.im/post/5befeb5051882511a8527dbe"
                    title="掘金"
                    target="_blank"
                    >一年半经验，百度、有赞、阿里面试总结</a
                  >
                </p>
                <p>
                  <span class="layui-badge-dot layui-bg-cyan"> </span>
                  <a
                    href="https://chao-hao.github.io/"
                    title="简历GitHub"
                    target="_blank"
                    >个人作品集</a
                  >
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div id="top-box"><i class="layui-icon layui-icon-top"></i></div>
    <div class="layui-container layui-bg-black" id="blog-footer">
      <div class="layui-row">
        <div class="div">
          <div class="grid-demo">
            <p>
              注：本站为个人博客，由本人设计编写，个人使用，未经许可不得用于任何商业用途。版权所有
            </p>
            <p>
              2018 Copyright © &nbsp;
              <a class="hov" href="http://www.dawang.xin" target="_blank">www.dawang.xin &nbsp;</a>
              <span>All Rights Reserved &nbsp;</span>
              <a class="hov" href="http://www.miitbeian.gov.cn" target="_blank">蒙ICP备18005902号-1</a>
            </p>
            <div class="info">
              <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=15070202000117">
                <img src="/img/bg/beian.png"/>
                <p>
                  蒙公网安备 15070202000117号
                </p>
              </a>
              <span>
                电子邮箱：
                <a class="hov" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;amp&amp;email=478572517@qq.com" target="_blank">478572517@qq.com</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/article.js"></script>
    <!-- <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script> -->
    <script src="/js/nav.js"></script>
  </body>
</html>
