<!DOCTYPE html>
<html>
  <head>
    <title>注册登录-修改密码|青丝梦思维博客</title>
    <meta charset="utf-8" />
    <meta name="author" content="dawang" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/bg/icon.cur" />
    <link rel="stylesheet" href="/layui/css/layui.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <script src="/layui/layui.js"></script>
  </head>
  <body>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格--><!-- [if lt IE 9]--><!-- <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>--><!-- <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>--><!-- [endif]          -->
    <div class="blog-header">
      <div class="layui-container">
        <div class="layui-row">
          <div class="layui-col-xs3">
            <h1
              class="grid-demo"
              style="display:inline-block;vertical-align:middle;"
            >
              <span>青 &nbsp;</span> <span>丝 &nbsp;</span>
              <span>梦 &nbsp;</span> <span>思 &nbsp;</span>
              <span>维 &nbsp;</span>
            </h1>
            <div
              class="grid-demo"
              style="display:inline-block;height:34px;border-right:1px solid #aaa;vertical-align:middle;"
            >
              &nbsp;
            </div>
            <div
              class="grid-demo"
              style="display:inline-block;margin-left:20px;color:#666;font-size:14px;vertical-align:middle;"
            >
              <p>大王博客</p>
              <p>专注前端开发</p>
            </div>
          </div>
          <div class="layui-col-xs7">
            <ul class="grid-demo layui-nav" id="head-nav">
              <li class="layui-nav-item">
                <a href="/"><i class="layui-icon layui-icon-home"></i>首页</a>
              </li>
              <li class="layui-nav-item">
                <a href="/article">web开发</a>
                <dl class="layui-nav-child" id="type-nav">
                  <dd><a href="/index/type">前端开发</a></dd>
                  <dd><a href="/index/type">后端开发</a></dd>
                  <dd><a href="/index/type">推荐工具</a></dd>
                </dl>
              </li>
              <li class="layui-nav-item"><a href="/diary">博客日记 </a></li>
              <li class="layui-nav-item">
                <a href="/workscase">作品案例</a>
                <dl class="layui-nav-child">
                  <dd><a href="/works/tmall.html" target="_blank">仿静态天猫官网</a></dd>
                  <dd><a href="/works/calc.html" target="_blank">简易计算器</a></dd>
                  <dd><a href="/works/3dpicshow.html" target="_blank">3D展示</a></dd>
                  <dd><a href="" target="_blank">网页小游戏</a></dd>
                  <dd><a href="" target="_blank">休闲</a></dd>
                  <dd><a href="" target="_blank">数据分析</a></dd>
                  <dd><a href="" target="_blank">拓展</a></dd>
                </dl>
              </li>
              <li class="layui-nav-item"><a href="/find">寻觅足迹 </a></li>
              <li class="layui-nav-item"><a href="/about">关于博客 </a></li>
              <li class="layui-nav-item"><a href="/dynamic">时间线 </a></li>
            </ul>
          </div>
          <div class="layui-col-xs2" style="line-height:60px;">
            <div class="grid-demo" style="font-size:14px;">
              <a href="javascript:;" class="user">
                <img class="avatar" src="" alt="" width="40" title="游客">
                <span class="small ellipsis">游客</span>
              </a>
              <span class="time-frame" style="color: rgb(255, 45, 85);">晚上好！</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="slide">
      <ul>
        <li><a href="/user">我要登录</a></li>
        <li><a href="/user">我要注册</a></li>
      </ul>
      <div class="find"></div>
      <button id="btnfold" title="点击展开登录注册"><span></span></button>
    </div>
    <div id="search-box">
      <div class="search">
        <form action="" name="searchform" id="searchform">
          <input
            class="inputtext"
            type="text"
            placeholder="请输入关键字"
            name="searchinput"
          /><input class="iptsubmit" type="submit" value="搜 索" />
        </form>
      </div>
      <div class="searchclose"></div>
    </div>
    <div id="content">
      <div class="user-frame">
        <div class="layui-container">
          <div class="layui-tab">
            <ul class="layui-tab-title">
              <li class="layui-this">用户登录</li>
              <li>用户注册</li>
              <li>修改密码</li>
            </ul>
            <div class="layui-tab-content">
              <div class="layui-tab-item layui-show" id="login">
                <form class="layui-form" action="" method="post">
                  <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                      <input
                        class="layui-input"
                        type="text"
                        name="username"
                        required="required"
                        lay-verify="required"
                        placeholder="请输入用户名"
                      />
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                      <input
                        class="layui-input"
                        type="password"
                        name="password"
                        required="required"
                        lay-verify="required"
                        placeholder="请输入密码"
                      />
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-input-block">
                      <button
                        class="layui-btn"
                        lay-submit="lay-submit"
                        lay-filter="formDemo"
                      >
                        立即登录</button
                      ><button class="layui-btn layui-btn-primary" type="reset">
                        重置
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="layui-tab-item" id="reg">
                <form class="layui-form" action="" method="POST">
                  <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                      <input
                        class="layui-input"
                        type="text"
                        name="username"
                        required="required"
                        lay-verify="required"
                        placeholder="请输入用户名"
                      />
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                      <input
                        class="layui-input"
                        type="password"
                        name="password"
                        required="required"
                        lay-verify="required"
                        placeholder="请输入密码"
                      />
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline">
                      <input
                        class="layui-input"
                        type="password"
                        name="confirmPWD"
                        required=""
                        lay-verify="required"
                        placeholder="请确认密码"
                      />
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-input-block">
                      <button
                        class="layui-btn"
                        lay-submit="lay-submit"
                        lay-filter="formDemo"
                      >
                        立即注册</button
                      ><button class="layui-btn layui-btn-primary" type="reset">
                        重置
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="layui-tab-item" id="change">
                <form class="layui-form" action="" method="POST">
                  <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                      <input
                        class="layui-input"
                        type="text"
                        name="username"
                        required="required"
                        lay-verify="required"
                        placeholder="请输入用户名"
                      />
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">旧密码</label>
                    <div class="layui-input-inline">
                      <input
                        class="layui-input"
                        type="password"
                        name="oldPassword"
                        required="required"
                        lay-verify="required"
                        placeholder="请输入密码"
                      />
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                      <input
                        class="layui-input"
                        type="password"
                        name="newPassword"
                        required="required"
                        lay-verify="required"
                        placeholder="请确认密码"
                      />
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">确认新密码</label>
                    <div class="layui-input-inline">
                      <input
                        class="layui-input"
                        type="password"
                        name="confirmPWD"
                        required="required"
                        lay-verify="required"
                        placeholder="请确认密码"
                      />
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-input-block">
                      <button
                        class="layui-btn"
                        lay-submit="lay-submit"
                        lay-filter="formDemo"
                      >
                        确认提交</button
                      ><button class="layui-btn layui-btn-primary" type="reset">
                        重置
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="top-box"><i class="layui-icon layui-icon-top"></i></div>
    <div class="layui-container layui-bg-black" id="blog-footer">
      <div class="layui-row">
        <div class="div">
          <div class="grid-demo" style="text-align:center;">
            <p>
              注：本站为个人博客，由本人设计编写，个人使用，未经许可不得用于任何商业用途。版权所有
            </p>
            <p>
              2018 Copyright © &nbsp;
              <a class="hov" href="http://www.dawang.xin" target="_blank"
                >www.dawang.xin &nbsp;</a
              >
              <span>All Rights Reserved &nbsp;</span>
              <a class="hov" href="http://www.miitbeian.gov.cn" target="_blank"
                >蒙ICP备18005902号-1</a
              >
            </p>
            <div>
              <a
                target="_blank"
                href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=15070202000117"
                style="display:inline-block;height:20px;line-height:20px;text-decoration:none;vertical-align:middle;"
              >
                <img src="/img/bg/beian.png" style="float:left;" />
                <p
                  style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;"
                >
                  蒙公网安备 15070202000117号
                </p>
              </a>
              <span
                style="display:inline-block;margin:0 20px;height:20px;line-height:20px;vertical-align:middle;"
              >
                电子邮箱：
                <a
                  class="hov"
                  href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;amp&amp;email=478572517@qq.com"
                  target="_blank"
                  >478572517@qq.com</a
                >
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/register.js"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script src="/js/nav.js"></script>
  </body>
</html>
