extends ./layout/layout
block css
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/about.css")
block contents
    .blog-words
        .blog-info
            img(src="/img/img/1.jpg",id="img",width="980",height="280",alt="青丝梦思维博客",title="青丝梦思维博客")
            h3 人最宝贵的东西是生命,生命属于人只有一次. 一个人的一生应该是这样度过的：当他回首往事的时候，他不会因为虚度年华而悔恨，也不会因为碌碌无为而羞耻；这样，在临死的时候，他就能够说：“我的整个生命和全部精力，都已经献给世界上最壮丽的事业——为人类的解放而斗争。”
            p.author ——奥斯特洛夫斯基《钢铁是怎样炼成的》
            hr(style="border-top:1px dotted #999;")
            h4.end-line 站长简介
            p.resume 网名：生命有维他
            p.resume 博客名称：大王博客
            p.resume 博客地址：http://www.dawang.xin
            p.resume GitHub：https://github.com/dawang-youy
            p.resume 职业：web前端开发
            p.resume 星座：金牛座
            p.resume 联系QQ：478572517
            p.resume 爱好：喜欢逛CSDN、热爱技术，坚信技术会使生活变得更好。喜欢运动，健康的体魄是做一切事情的基础！
            p.resume 博客正式上线时间：2019年3月
            h4.end-line 人生信条
            ol
                li
                    p.resume 蹉跎莫遗韶光老，相比已经过去的时间，剩下的时间是如此宝贵。
                li
                    p.resume 你的习惯，决定了你未来的成功。
                li
                    p.resume 成为一个守信的人。
                li
                    p.resume 生活不可能一帆风顺，即使失望也要继续前行。要做真正的勇士！
                li
                    p.resume 这个世界告诉我们，你要学着成为一个做尽好事的坏人，而不是一个连坏事都不会做的好人。
                li
                    p.resume 你的态度，是最宝贵的财富，常怀感恩之心。
                li
                    p.resume 快乐是一种感受，更是一种选择。
                li
                    p.resume 福兮祸之所倚，祸兮福之所伏，这个世界是分阴阳两极的。
                li
                    p.resume 比起造福人类的伟大理想，做一名普通的技术工作者更切合实际。
                li
                    p.resume 黑发不知勤学早，白首方悔读书迟。青丝梦思维，对待事物要有满忱的热情、活跃的思维，不忘初心，方得始终。
            h4.end-line 博客介绍
            p.con 对于计算机，我接触的不是很早，记得还是在我上初中的时候，学校有开过一些基本的计算机课程，只是一些简单的操作，五笔打字。当时觉得只是很好玩，并没有放在心上。
                |引起我对计算机关注的，是在我上高中的时候，那时老师上课基本用的都是PPT，网络游戏开始兴起，放学跑网吧成了许多小伙伴业余时间要干的事。
                |那时的计算机在我的印象当中，充当更多的是游戏机的角色。回想当年，其实这更应该成为我的大学志愿之一、未来职业方向之一，但个人的成长环境、见识见闻决定了个人的人生选择，
                |当时的情况是，大学志愿报的更容易录取、更好就业的专业。毕业后也很顺利的回到我的家乡工作，转眼间很多年过去的了，日子很安逸，似乎快要忘记了年少时还有梦想--如何更好的生活呢，
                |可能的话帮助更多的人？
            p.con 智能手机铺天盖地的涌入人们的生活，让我对计算机有了重新认识，我的脑海里连续发问，什么是计算机，都能用来做什么，如何改变人们的生活方式？虽我的日常工作也与计算机相关，
                |用计算机来操作生产过程、监控指标，完成生产任务，这并不能发挥计算机的潜能，更重要的是我的想法！一次与同学的闲聊,让我了解了计算机软件、软件编程、web前端开发。
                |在这之前，我好比窗子外的小鸟，能看到计算机世界，却没飞入到里面。现在有人帮我打开了这扇窗子，我定要下定决心进入这个世界，从一而终。从汇编语言的出现到各种高级语言的发明应用，
                |再到互联网的出现并形成标准，计算机正推动着各项技术的发展，改变着生产生活，计算机技术的魅力自不必说，给人们产生的便利溢于言表！其中蓬勃发展的web前端大几率成为了非计算机专业、
                |打算转行人士的首选。
            p.con 选择web前端，是我人生的一个重要决定，在转行之前，我开始制定学习计划，学习前端知识，每学完一部分，做个总结。计算机编程在于实战，多年的工作经验告诉我--有分析问题、
                |解决问题的能力、并能协调关系才叫真正的工作能力。经过几个月的努力学习，(有时边工作边学习),已经具备独立搭建网站的能力，为了学以致用，小试牛刀之后，我的第一个网站--青丝梦思维个人博客，
                |完成上线。本网站以Nodejs的koa模块为后台，mongodb为接口数据库，redis缓存，部分pug模板渲染与layUI框架结合，部分前后端分离。巩固前面学过的框架，先用layUI写了，layUI的富文本编辑器不是很好，文章排版不很美观。
                |以后会用vue和react重写页面的，源码放在GitHub上。本网站参考博客网站的基本布局排版，很多利用css3、JavaScriptES6语法特性实现功能，一些在IE浏览器不兼容，网站开发中基本以Chrome谷歌浏览器测试为准，
                |不同浏览器也做过调试，但各浏览器版本不同，暗藏的许多bug还没发现,如果有发现和好的意见欢迎给我留言，博客会始终改进，最后感谢大家的关注，尤其大佬们提供的经验！
                |网站的主要用途是存放一些我的学习笔记、一些小案例，分享一下我的学习经验。
            p.con 将程序开发成自动化、可视化，难不倒多才多智的程序员们。如今网站搭建上线并使用不一定要必须会前端技术，许多程序可以让不会电脑的人使用写好的模板快速搭建网站，似乎重复的造轮子意义不大。
                |但开发出这些程序的程序员一定是掌握前端技术的。为了造出新的车轮，必定要经过大量的重复性练习，才会对某一门计算机语言有独到见解，借鉴其他语言的优点，封装出满足某项需求的框架、类库，甚至形成生态、标准。
                |正应了那句业精于勤荒于嬉、行成于思毁于随。利用业余时间写博客、改进功能、分享经验，这既是对自己技术能力的巩固，也让更多的人了解到、参与进来！未来机器代替人类的劳动会逐步实现，
                |而驱动机器劳动的程序开发成为一些高级劳动者的重要技能，在这一过程中，让计算机程序开发易操作、可定制成为一种需求--用户体验。程序员们的前仆后继让这变为可能。          
block scripts
    script(src="/js/diary.js")
                