extends ./layout/layout
block css
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/article.css")
block contents
    .blog-words
        #footprint
            img(src="/img/img/liuyan.jpg",id="img",title="博客留言",width="100%",height="300")
            h2 欢迎来到这里驻足，你尽可以拿起下面的画笔，画出你此时的心情吧！
            h5 友情提示：使用谷歌浏览器,可下载画完的图像。
            #box
                ul#color
                ul#lineW
                    li 1
                    li 2
                    li 3
                    li 4
                    li 5
                    li 10
                    li 20
                button#draw-btn 清除画布
                button#color-btn 更换颜色
                button#produce-btn 下载画布
            canvas(id="canvas" width="800" height="450")
        .comment.default-box
            h3 站点留言
            .login
                a(href="/user/login") 登录
            div.txt
                textarea#comment-txt
                button.layui-btn 留下足迹            
            hr.comment-line
            p#comment-num
                span 这里有
                span= maxNum
                |条评论
            ul.comment-list.flow-default(data-maxnum=maxNum)#LAY_demo2
                //- each info in comment
                //-     li
                //-         img(src=info.from ? info.from.avatar : "/avatar/admin1545287031739.jpg" )
                //-         div
                //-             p.author= info.from ? info.from.username : "无名氏"
                //-             p.time= info.created.toLocaleString()
                //-         .she-said!= info.content
        
block scripts
    script(src="/js/find.js")
        