extends ./layout/layout
block css
  link(rel="stylesheet", href="/css/index.css")
block contents
  .layui-container#blog-content
    .layui-row.layui-col-space15
      //- 文章列表
      .layui-col-md9#main-con
        .grid-demo
          h2 搜到
            span(style="color:red;")=maxNum
            |篇关于“
            span(style="color:red;")=option
            |”的文章
          hr
          include ./layout/indexarticle.pug
          include ./layout/laypage.pug   
      //- 右侧公告
      .layui-col-md3
        include ./layout/right_tag
block scripts
  script(src="/js/search.js")