doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="author", content="dawang")
    meta(name="renderer", content="webkit|ie-comp|ie-stand")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon",type="image/x-icon",href="/img/bg/icon.cur")
    link(rel="stylesheet", href="/layui/css/layui.css")
    link(rel="stylesheet", href="/css/nav.css")
    link(rel="stylesheet", href="/css/showimg.css")
    script(src="/layui/layui.js")
    block css
  body(ondragstart="return false")
    // 让IE8/9支持媒体查询，从而兼容栅格
    // [if lt IE 9]
    // <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    // <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    // [endif]          
    include ./nav.pug
    #slide
      ul
        if session && session.isLogin
          li
            a.top(href=session.role > 1 ? "/admin/user": "/admin/userface") 个人中心
            a.logout(href="javascript:;") 退出登录
          li
            img(src=session.avatar)
            span= session.username
        else
          li
            a(href="/user") 我要登录
          li
            a(href="/user") 我要注册
      div.find
      button#btnfold(title="点击展开登录注册")
        span
    #search-box
      .search
        form(action="" name="searchform" id="searchform")
          input(type="text" placeholder="请输入关键字" name="searchinput" class="inputtext")
          input(type="submit" value="搜 索" class="iptsubmit")
      .searchclose
    //- content
    block contents
    #top-box
      i.layui-icon.layui-icon-top
    //- footer
    include ./footer.pug

    //- script
    block scripts
    //- script(src="http://pv.sohu.com/cityjson?ie=utf-8")
    script(src="/js/nav.js")