.blog-panel
  .layui-container
    ul.layui-clear   
      li
        a(href="/article/tips/HTML") HTML
      li
        a(href="/article/tips/CSS") CSS
      li
        a(href="/article/tips/JavaScript") JavaScript
      li
        a(href="/article/tips/Nodejs") Nodejs
      li
        a(href="/article/tips/Vue") Vue
      li
        a(href="/article/tips/React") React
      li
        a(href="/article/tips/Angular") Angular
      li
        a(href="/article/tips/Django") Django
      li
        a(href="/article/tips/Spider") Spider
      li
        a(href="/article/tips/Diary") Diary
    .blog-column-right(class=(users==="admin")?"show":"")
      a(href="/article/add").layui-btn 发表文章